@font-face {
    font-family: 'AphroditeStylistic';
    src: url('font/aphrodite_stylistic/AphroditeStylistic.otf');
    font-family: 'Benguiat';
    src: url('font/benguiat/ITC Benguiat Book.ttf');
}

body{
    background-image: url("img/background.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: #FFF6E5; */
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}

h1{
    font-family: 'AphroditeStylistic';
    font-size: 36pt;
    color: white;
}


